root = true

# Global settings
[*]
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true

# C / C++
[*.{cpp,h,hpp,c,inl}]
indent_style = space
indent_size = 4
tab_width = 4


# Visual Studio project files
[*.{vcxproj,vcxproj.filters}]
indent_style = space
indent_size = 2

# JSON
[*.json]
indent_style = space
indent_size = 2

# Markdown
[*.md]
trim_trailing_whitespace = false